<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    <add key="Eolande.AspNet.IBll.Proxy" value="Eolande.AspNet.Bll"/>
    <add key="BaseAddress" value="http://localhost:4227/api/"/>
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="show_sql">true</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="command_timeout">36000</property>
      <property name="connection.connection_string">
        <!--Data Source=.\SQLEXPRESS;AttachDbFilename=|datadirectory|\DB.mdf;Integrated Security=True;User Instance=True-->
        <!--Data Source=192.168.0.85;Persist Security Info=True;User ID=rd_test;Password=rdtest;initial catalog=qpproject-->
        <!--Data Source=192.168.0.61;Persist Security Info=True;User ID=qpmrp;Password=dbserver;initial catalog=QPReportDB-->
        <!--Data Source=192.168.0.52;Persist Security Info=True;User ID=qpmrp;Password=dbserver;initial catalog=QPSYSTEMDB-->
        Data Source=MINMIN;Initial Catalog=EolandeDB;Integrated Security=False;User ID=eolande;Password=eolande;
      </property>
      <mapping assembly="Eolande.AspNet.Domain" />
      <!--<mapping assembly="QPP.Master.Domain" />-->
    </session-factory>
  </hibernate-configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
