<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5"/>
    <!--<pages controlRenderingCompatibilityVersion="4.0"/>-->
  </system.web>
  <appSettings>
    <add key="Eolande.AspNet.IBll.Proxy" value="Eolande.AspNet.Bll"/>
    <add key="BaseAddress" value="http://localhost:4227/api/"/>
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="show_sql">true</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="command_timeout">36000</property>
      <property name="connection.connection_string">
        <!--Data Source=.\SQLEXPRESS;AttachDbFilename=|datadirectory|\DB.mdf;Integrated Security=True;User Instance=True-->
        <!--Data Source=192.168.0.85;Persist Security Info=True;User ID=rd_test;Password=rdtest;initial catalog=qpproject-->
        <!--Data Source=192.168.0.61;Persist Security Info=True;User ID=qpmrp;Password=dbserver;initial catalog=QPReportDB-->
        <!--Data Source=192.168.0.52;Persist Security Info=True;User ID=qpmrp;Password=dbserver;initial catalog=QPSYSTEMDB-->
        Data Source=MINMIN;Initial Catalog=EolandeDB;Integrated Security=False;User ID=eolande;Password=eolande;
      </property>
      <!--<mapping assembly="QPP.Message.Domain" />-->
      <!--<mapping assembly="QPP.Master.Domain" />-->
    </session-factory>
  </hibernate-configuration>

</configuration>
